<%= link_to "Sort Lessons Alphabetically", "/courses/#{@course.id}/lessons?sort=alphabet" %>
<br>
<br>
<%= form_with url:"/courses/#{@course.id}/lessons?sort=questions", method: :get, local: true do |form|%>
    <%= form.label :number, "Filter by Number of Questions" %>
    <%= form.number_field :number, required: true %>
    <%= form.submit "Filter"%>
<% end %>

<% @lessons.each do |lesson| %>
    <h3>Name: <%= lesson.name %></h3>
    <h3>Format: <%= lesson.format %></h3>
    <h3>Questions: <%= lesson.questions %></h3>
    <% if lesson.complete == true %>
        <h3>Completed: yes</h3>
    <% else %>
        <h3>Completed: no</h3>
    <% end %>
    <%= button_to "Update #{lesson.name}", "/lessons/#{lesson.id}/edit", method: :get %>
<% end %>
<h3><%= button_to "New Lesson", "/courses/#{@course.id}/lessons/new", method: :get %></h3>
