<%= link_to "Sort Lessons Alphabetically", "/courses/#{@course.id}/lessons?sort=alphabet", method: :get %>
<br>
<br>
<%= form_with url:"/courses/#{@course.id}/lessons?sort=questions", method: :get, local: true do |form|%>
    <%= form.label :number, "Filter by Number of Questions" %>
    <%= form.number_field :number, required: true %>
    <%= form.submit "Filter"%>
<% end %>

<% @lessons.each do |lesson| %>
    <p>Name: <%= lesson.name %><p>
    <p>Format: <%= lesson.format %><p>
    <p>Questions: <%= lesson.questions %><p>
    <% if lesson.complete == true %>
        <p>Completed: yes</p>
    <% else %>
        <p>Completed: no</p>
    <% end %>
    <%= button_to "Update #{lesson.name}", "/lessons/#{lesson.id}/edit", method: :get %>
<% end %>
<h3><%= link_to "New Lesson", "/courses/#{@course.id}/lessons/new" %></h3>
