<%= link_to "Sort Lessons Alphabetically", "/courses/#{@course.id}/lessons?sort=alphabet", method: :get %>
<% @lessons.each do |lesson| %>
    <p>Name: <%= lesson.name %><p>
    <p>Format: <%= lesson.format %><p>
    <p>Format: <%= lesson.questions %><p>
    <% if lesson.complete == true %>
        <p>Completed: yes</p>
    <% else %>
        <p>Completed: no</p>
    <% end %>
<% end %>
<h3><%= link_to "New Lesson", "/courses/#{@course.id}/lessons/new" %></h3>
