<h1>New Lesson for <%= @course.name %> </h1>
<%= form_with url:"/courses/#{@course.id}/lessons", method: :post, local: true do |form|%>
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
    <br>
    <br>
    <%= form.label :format %>
    <%= form.text_field :format, required: true %>
    <br>
    <br>
    <%= form.label :questions %>
    <%= form.number_field :questions, required: true %>
    <%= form.hidden_field :complete, value: false %>
    <br>
    <br>
    <%= form.submit "Create Lesson"%>
<% end %>