<%= form_with url:"/lessons/#{@lesson.id}", method: :patch, local: true do |form|%>
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
    <br>
    <br>
    <%= form.label :format %>
    <%= form.text_field :format, required: true %>
    <br>
    <br>
    <%= form.label :questions %>
    <%= form.number_field :questions, required: true %>
    <br>
    <br>
    <p>Complete: </p>
    <%= form.radio_button :complete, true, required: true %>
    <%= form.label :complete, "yes" %>
    <%= form.radio_button :complete, false %>
    <%= form.label :complete, "no" %>
    <br>
    <br>
    <%= form.submit "Update Lesson"%>
<% end %>