<% @lessons.each do |lesson| %>
    <p>Name: <%= lesson.name %></p>
    <p>Format: <%= lesson.format %></p>
    <p>Questions: <%= lesson.questions %></p>
        <% if lesson.complete == true %>
            <p>Completed: yes</p>
        <% else %>
            <p>Completed: no</p>
        <% end %>
    <%= button_to "Update #{lesson.name}", "/lessons/#{lesson.id}/edit", method: :get %>
    <%= button_to "Delete #{lesson.name}", "/lessons/#{lesson.id}", method: :delete %>
<% end %>