<h3>Name: <%= @lesson.name %></h3>
<h3>Format: <%= @lesson.format %></h3>
<h3>Questions: <%= @lesson.questions %></h3>
        <% if @lesson.complete == true %>
            <h3>Completed: yes</h3>
        <% else %>
            <h3>Completed: no</h3>
        <% end %>
<h3><%= button_to "Update #{@lesson.name}", "/lessons/#{@lesson.id}/edit", method: :get %></h3>
<%= button_to "Delete #{@lesson.name}", "/lessons/#{@lesson.id}", method: :delete %>
