<h3>Name: <%= @lesson.name %></h3>
<p>Format: <%= @lesson.format %></p>
<p>Questions: <%= @lesson.questions %></p>
        <% if @lesson.complete == true %>
            <p>Completed: yes</p>
        <% else %>
            <p>Completed: no</p>
        <% end %>
<h3><%= link_to "Update #{@lesson.name}", "/lessons/#{@lesson.id}/edit" %></h3>
<%= button_to "Delete #{@lesson.name}", "/lessons/#{@lesson.id}", method: :delete %>
