<%= form_with url: path, method: method, local: true do |form|%>
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
    <%= form.label :participants %>
    <%= form.number_field :participants, required: true %>
    <p>Complete: </p>
    <%= form.radio_button :complete, true, required: true %>
    <%= form.label :complete, "yes" %>
    <%= form.radio_button :complete, false %>
    <%= form.label :complete, "no" %>
    <br>
    <br>
    <%= form.submit button_text %>
<% end %>