<%= render "links" %>
<% @courses.each do |course| %>
    <p>Name: <%= course.name %></p>
    <p>Participants: <%= course.participants %></p>
        <% if course.complete == true %>
           <p>Completed: yes</p>
        <% else %>
            <p>Completed: no</p>
        <% end %>
    <p>Created: <%= course.created_at %></p> 
    <%= button_to "Update #{course.name}", "/courses/#{course.id}/edit", method: :get %>
    <%= button_to "Delete #{course.name}", "/courses/#{course.id}", method: :delete %>
<% end %>