<%= render "links" %>
<h3><%= link_to "Course Lessons", "/courses/#{@course.id}/lessons" %></h3>
<h1><%= @course.name %> </h1>
<p>Participants: <%= @course.participants %></p>
<% if @course.complete == true %>
    <p>Completed: yes</p>
<% else %>
    <p>Completed: no</p>
<% end %>
<p>Number of lessons: <%= @course.count %></p>
