<h3><%= button_to "Course Lessons", "/courses/#{@course.id}/lessons", method: :get %></h3>
<h1><%= @course.name %> </h1>
<h3>Participants: <%= @course.participants %></h3>
<h3>Number of lessons: <%= @course.lesson_count %></h3>
<% if @course.complete == true %>
    <h3>Completed: yes</h3>
    <h3><%= button_to "Update #{@course.name}", "/courses/#{@course.id}/edit", method: :get %></h3>
<% else %>
    <h3>Completed: no</h3>
    <h3><%= button_to "Update #{@course.name}", "/courses/#{@course.id}/edit", method: :get %></h3>
<% end %>
<%= button_to "Delete #{@course.name}", "/courses/#{@course.id}", method: :delete %>

