<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class = "container">
    <header class="item-a"><h1>Course Builder</h1></header>
    <nav class="item-b">
      <ul>
        <li><%= link_to "Lessons", "/lessons", {:class => "link"} %><%= link_to "Courses", "/courses", {:class => "link"} %></li>      
      </ul>
    </nav>
    <section class = "item-c">
       <% flash.each do |type, message| %>
        <p><%= message %></p>
      <% end %>
      <%= yield %>
    </section>
    <footer class="item-d"> Something catchy </footer>
  </body>
</html>
